get_well_known_routes() oauth-authorization-server URL doesn't provide path suffix (RFC 8414 violation)

### Description

## Summary:

The ```AuthProvider.get_well_known_routes()``` method in ```src/fastmcp/server/auth/auth.py``` doesn't provide the path suffix for <br>```/.well-known/oauth-authorization-server``` endpoints. This violates RFC 8414.

#### Screenshot of current commentary on ```AuthProvider.get_well_known_routes()``` well-known routes:

<img width="640" height="87" alt="Image" src="https://github.com/user-attachments/assets/bf8d3d3d-718d-492d-9b59-f2a91a29c806" />

#### Screenshot of ```OIDCProxy.__init__()``` comment for argument ```issuer_url```:

<img width="737" height="52" alt="Image" src="https://github.com/user-attachments/assets/2ac4554d-0169-4c8f-bbd1-e5bdb081a095" />

#### Screenshot of RFC 8414 Section 3.1:

<img width="1610" height="1182" alt="Image" src="https://github.com/user-attachments/assets/6b4e68d9-baa2-4c66-ae6f-f7e5cd700e2d" />

#### Expected behavior according to RFC 8414:

Route(path='/.well-known/oauth-authorization-server/rfc-compliance', name='CORSMiddleware', methods=['GET', 'HEAD', 'OPTIONS'])
Route(path='/.well-known/oauth-protected-resource/rfc-compliance/mcp', name='CORSMiddleware', methods=['GET', 'HEAD', 'OPTIONS'])

#### Actual behavior:

<img width="1434" height="59" alt="Image" src="https://github.com/user-attachments/assets/51d1c07c-d8bb-4730-be38-22368dca1c4b" />




### Example Code

```Python
import asyncio

from fastmcp import FastMCP
from fastmcp.server.auth import OIDCProxy
from logging import getLogger
from starlette.applications import Starlette
from starlette.routing import Mount

logger = getLogger(__name__)

async def main():

    base = 'http://localhost:43827'  
    path = '/rfc-compliance'

    base_url = base + path   # Issuer identifier, as issuer_url of OIDCProxy defaults to base_url param.
    mcp_path = '/mcp'

    oidc = OIDCProxy(
        config_url     = <YOUR_CONFIG_URL>,
        client_id      = <YOUR_CLIENT_ID>,
        client_secret  = <YOUR_CLIENT_SECRET>,
        base_url       = base_url,
        client_storage = None
    )

    for route in oidc.get_well_known_routes(mcp_path=mcp_path):
        logger.error(route)

if __name__ == "__main__":
    asyncio.run(main())
```

### Version Information

```Text
FastMCP version:                                                                                   2.13.2
MCP version:                                                                                       1.23.1
Python version:                                                                                    3.13.5
Platform:                                                                       Windows-11-10.0.26200-SP0
FastMCP root path:                                              <my-project-path>\.venv\Lib\site-packages
```